@*

Foundry
Copyright 2020 Carnegie Mellon University.
NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.  Please see Copyright notice for non-US Government use and distribution.
Carnegie Mellon(R) and CERT(R) are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
DM20-0194

*@

<html>
<head>
    <title>Foundry · Analytics</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        p {
            color: #000;
            font-size: 10pt;
        }

        ol, ul {
            list-style: none;
            font-size: 10pt;
            padding: 1em 0;
            margin: 0;
            border-bottom: solid 1px #eee;
        }

            ul li {
                display: inline-block;
                padding-right: 1em;
            }

                ul li a {
                    color: #000;
                }


            ol li ol li {
                padding-left: 1em;
            }

        body {
            font-family: 'Open Sans', sans-serif;
            color: #b00;
            font-size: 18pt;
        }

        header {
            padding: 100px;
        }

        footer {
            color: #777;
            font-size: 16pt;
            background: #333;
            padding: 60px 100px;
        }

        #config {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <h2>Foundry Analytics</h2>
        <p>
            Beep! Boop! Bop! Running...
        </p>
        <ul>
            <li><strong>API</strong></li>
            <li><a href="~/docs">docs</a></li>
            <li><a href="~/docs/v1/api.json">json</a></li>
        </ul>
        <div></div>
    </header>
    <footer>
        Carnegie Mellon University - Software Engineering Institute - &copy; @DateTime.Now.Year
    </footer>
</body>
</html>
